.text-limit-1 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	line-clamp: 1;
	-webkit-box-orient: vertical;
}
.text-limit-5 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5; /* number of lines to show */
	line-clamp: 5;
	-webkit-box-orient: vertical;
}

.text-justify {
	text-align: justify;
}

#hero {
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
		url("../assets/images/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}

#hero > .hero-text {
	color: #fff;
	font-size: 40pt;
}

/* Styling untuk plang satu kaki */
.custom-plang-icon {
	position: relative;
	color: white;
	font-weight: bold;
	width: 40px; /* Lebar plang */
	height: 20px; /* Tinggi plang */
	padding-top: 2px;
	text-align: center;
	border-radius: 5px; /* Membuat sudut rounded */
}
/* Kaki plang */
.custom-plang-icon::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 2px; /* Lebar kaki yang tipis */
	height: 15px; /* Tinggi kaki plang */
	background-color: #555; /* Warna kaki plang */
}
